<div class="button-area">
      <button (click)="onFetch()">Re-Fetch Data</button>
    </div>
    <h1>List Of... 👇</h1>
    @if(data(); as item) {
      @switch(item.type) {
        @case('posts') {
          <app-post-list [posts]="item.payload" />
        }
        @case('users') {
          <app-user-list [users]="item.payload" />
        }
        @default {
          <div class="unknown">Unknown Data Type...</div>
        }
      }
    } @else {
      <p>No data or loading...</p>
    }

<!-- <div class="button-area">
  <button (click)="onFetch()">Re-Fetch Data</button>
</div>
<h1>List Of... 👇 </h1>
<ng-container *ngIf="data() as item; else noData">
  <ng-container *ngSwitch="item.type">
    <app-post-list *ngSwitchCase="'posts'" [posts]="item.payload"></app-post-list>
    <app-user-list *ngSwitchCase="'users'" [users]="item.payload"></app-user-list>
    <div *ngSwitchDefault class="unknown">Unknown Data Type...</div>
  </ng-container>
</ng-container>

<ng-template #noData>
  <p>No data or loading...</p>
</ng-template> -->